/* .boardActions {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
} */


#scoreBoard {
    display: none;
    background-color: black;
}

#startScreen {
    display: flex;
    align-items: center;
    justify-content: center;
}

.row{
    display: flex;
    align-items: center;
    font-size:20px;
}


.boardTemplate {
    text-align: center;
}

#team1TotalScore {
    color: #00ff00;
    font-size: 50px;
    padding-left:40px;
}

#team2TotalScore {
    color: #00ff00;
    font-size: 50px;
    padding-right:40px;
}

.countLeft {
    color: #00ff00;
    padding-left: 40px;
    /* display:flex;
    align-items: center;
    justify-content: center; */
}

.countRight {
    color: #00ff00;
    padding-right: 40px;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}


h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bold; 
}

#timer {
    color: #00ff00;
    font-size:70px;
    font-family: Arial, Helvetica, sans-serif;
}

#startGame {
    background-color: blue;
    font-size:30px;
    color: white;
    border-radius: 15px;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;

}

#resetButton {
    background-color: #ececec;
    font-size: 16px;
    color: #1f1f1f;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    padding: 15px;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 40px;
    text-transform: capitalize;
}

.plusButton {
    background-color: white;
    height: 40px;
    width: 40px;
    /* border-radius: 50%; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:100%;
    cursor: pointer;
    /* border: none; */
}

.plusButton:hover {
    background-color: #f1f1f1;
}

.plusButton:disabled {
    cursor:not-allowed;
    opacity: 0.7;
}

.button {
    display: flex;
    align-items: center;
}
.board {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 950px;
    border: 1px solid grey;
    border-radius: 3px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    flex:1;
    padding-left: 15px;
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;*/
}

#startGame {
    background-color: blue;
    font-size:30px;
    color: white;
    border-radius: 15px;
    padding: 20px;
}

.scoreTitle {
    flex:1;
    color:white;
}
.team1{
    flex:1;
}

.team2 {
    flex:1;
}

.buttonRight {
    margin-right: 100px;
}

.buttonLeft {
    margin-left: 100px;
}

.team1{
    color:white;
}

.team2{
    color:white;
}

.team-input {
    margin-bottom: 40px;
}

.team-label {
    font-family:Arial, Helvetica, sans-serif;
}